</br>
<hr/>
<p >
<% (1..3).each_with_index do |week, index| %>
</br>
<h5> Week <%= index + 1 %> </h5>
	<table class="table table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th>Set</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Done the day?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="no-clickable" scope="row">1</th>
      <td class="no-clickable">6</td>
      <td class="no-clickable">6</td>
      <td class="no-clickable"><%= increase_weight(@workout.max, @workout.increase, index + 1) * 0.70 %></td>
      <td class="no-clickable"><input type="checkbox" class="day_check" name="day1" value="<%= index + 1 %>"></td>
    </tr>
    <tr>
      <th class="no-clickable" scope="row">2</th>
      <td class="no-clickable">7</td>
      <td class="no-clickable">5</td>
      <td class="no-clickable"><%= increase_weight(@workout.max, @workout.increase, index + 1) * 0.75 %></td>
      <td class="no-clickable"><input type="checkbox" class="day_check" name="day2" value="<%= index + 1 %>"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="no-clickable">8</td>
      <td class="no-clickable">4</td>
      <td class="no-clickable"><%= increase_weight(@workout.max, @workout.increase, index + 1) * 0.80 %></td>
      <td class="no-clickable"><input type="checkbox" class="day_check" name="day3" value="<%= index + 1 %>"></td>
    </tr>
    <tr>
      <th class="no-clickable" scope="row">4</th>
      <td class="no-clickable">10</td>
      <td class="no-clickable">3</td>
      <td class="no-clickable"><%= increase_weight(@workout.max, @workout.increase, index + 1) * 0.85 %></td>
      <td class="no-clickable"><input type="checkbox" class="day_check" name="day4" value="<%= index + 1 %>"></td>
    </tr>
  </tbody>
</table>
<% end %>