<!DOCTYPE html>
<html>
	<head>
		<title>SmolovCal</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-primary">
			<ul class="nav navbar-nav">
  					<%= link_to 'Smolov Cal', root_path, class: 'navbar-brand' %>
				<li class="nav-item <%= active_class(workouts_path) %>">
					<%= link_to 'Cycles', workouts_path, class: 'nav-link' %>
				</li>
				<li class="nav-item <%= active_class('#') %>">
					<%= link_to 'About', about_path, class: 'nav-link' %>
				</li>
				<% if current_user %>
				<li class="nav-item dropdown float-xs-right">
      				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				<%= current_user.username %>
      				</a>
      				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      					<%= link_to 'My Account', user_path(current_user.id), class: 'dropdown-item' %>
						<%= link_to 'Log out', logout_path, class: 'dropdown-item' %>
      				</div>
    			</li>
    			<% else %>
    			<li class='nav-item float-xs-right'>
    				<%= link_to 'Login', login_path, class: 'nav-link' %>
    			</li>
    			<% end %>
			</ul>
		</nav>
		<% flash.each do |key, value| %>
			<div class="alert alert-info" role="alert">
  				<p><%= value %></p>
			</div>
		<% end %>
			<%= yield %>
	</body>
</html>